@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  @apply flex flex-col relative;
}

footer,
nav,
body > main > div:not(.full-width) {
  @apply container mx-auto;
}

.explode-width-footer {
  box-shadow: 0 0 0 100vmax #e7e3c6;
  clip-path: inset(0 -100vmax);
}

.explode-width-navbar {
  box-shadow: 0 0 0 100vmax #fff;
  clip-path: inset(0 -100vmax);
}

.center {
  @apply flex justify-center items-center w-full;
}
